/* joandora.css */
* {
    box-sizing: border-box;
    /* 모든 요소에 박스사이징 적용시켜줌 */
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    /* margin: 0; */
}

.container {
    /* div.container{} 해도됨 */
    width: 40%;
    margin: 5px auto;
    /* margin: 5px auto; 좌우정렬 */
    border: 1px solid lightpink;
}

header {
    position: relative;
    height: 280px;
    /* 넓이는 따로 안해줌 */
    background-image: url('./images/bg.png');
    /* 이미지 넣을때 '' 해주깅 */
    background-repeat: no-repeat;
    background-position: left top;
}

header h1 {
    position: absolute;
    /* header의 position: static;이면 안됨*/
    bottom: 70px;
    right: 20px;
    color: salmon;
    font-size: 3em;
}

header h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: rgb(255, 228, 193);
    font-size: 2em;
}

.navi {
    height: 60px;
    background-color: midnightblue;
    position: relative;
    top: -15px;
}

.navi ul {
    list-style-type: none;
    margin-left: 20%;
}

.navi ul li {
    display: inline-block;
    padding-top: 18px;
}

.navi ul li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    /* text-decoration: none; 글자 밑에 가로줄 없앰 */
    /* padding-top: 5px; */
    padding-left: 15px;
    padding-right: 15px;
    /* padding: 10px; 자간 조절해줌 */
}
.navi ul li a:hover{
    color: rgb(255, 36, 138);
}

.content {
    width: 65%;
    float: left;
    padding: 5px;
}

.sidebar {
    width: 35%;
    float: left;
    padding: 5px;
    background-color: lavenderblush;
}
.sidebar img{
    opacity: .4;
    /* opacity 그냥 있으면 투명도있게 보여줌, 마우스 올리면 색 나오게 */
    transition: 1s;
    /* 어떤 속성의 적정 시간을 통해 모양크기 변화해줌 */
    margin-bottom: 20px;
}
.sidebar img:hover{
    opacity: 1;
    /* 마우스 올리면 색나옴 */
    transform: scale(1.3) translate(25px 5px);
    /* 함수에 따라서 크기변경, 위치변경 함 */
}
footer {
    clear: both;
    padding: 5px 0;
    color: midnightblue;
    text-align: center;
    background-color: antiquewhite;
}