/* P324 실습 */
<!-- <style>
		nav ul li {
			display: inline-block;
			margin: 25px;
			/* border: 3px dotted rebeccapurple; */
		}

		h3 {
			color: hotpink;
		}
		article#pet1 {
			width: 90%;
			height: auto;
			margin: 20px 10px;
			padding: 20px;
		}

		article#pet2 {
			width: 90%;
			height: auto;
			margin: 20px 10px;
			padding: 20px;
			border: 2px solid mediumturquoise;
			border-radius: 10px;
		}

		article#pet3 {
			width: 90%;
			height: auto;
			margin: 20px 10px;
			padding: 20px;
			border: 2px solid hotpink;
			border-radius: 10px;
		}

		#pet1 {
			border: 2px solid plum;
			border-radius: 10px;
		}

		#pet2 {
			border: 2px solid mediumturquoise;
			border-radius: 10px;
		}

		#pet3 {
			border: 2px solid khaki;
			border-radius: 10px;
		}
	</style> -->
header {
    width: 85%;
    background-color: lightpink;
    padding: 5px;
    margin: 0 auto;
    overflow: hidden;
    color: midnightblue;
}

header>h1 {
    width: 35%;
    float: left;
}

header>nev {
    width: 65%;
    float: right;
    margin-top: 20px;
}

header>nav>ul>li {
    display: inline-block;
    margin: 0 8px;
}

nav>ul>li>a {
    color: aliceblue;
    text-decoration: none;
}

section {
    width: 85%;
    margin: 0 auto;
}
select>article{
    margin: 10px;
}
#pet1{
    border: 5px dotted salmon ;
}
#pet2{
    border: 5px dotted rebeccapurple ;
}
#pet3{
    border: 5px dotted lightskyblue ;
}
footer {
    width: 70%;
}